[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = collections
host_key_checking = false
retry_files_enabled = false
timeout = 30
stdout_callback = default
interpreter_python = auto_silent
vault_password_file = vault-pass.txt

[persistent_connection]
command_timeout = 60
connect_timeout = 60
